* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #1B98E0;
  font-family: 'Roboto', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #1B98E0;
}

/* Restante do CSS */
header {
  position: relative;
  height: 12%;
  background-color: #1B98E0;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.header-container {
  font-family: "Syne", sans-serif;
  width: 100%;
  height: 100%;
  color: white;
  margin-bottom: 20px;
}

.dsada-1-icon {
  border-radius: var(--br-5xs);
  width: 90px;
  height: 89px;
  object-fit: cover;
}

input,
select {
  border-radius: 8px;
  width: 95%;
  height: 40px;
  background-color: #EDF2F7;
  border: none;
  margin-bottom: 10px;
  padding-left: 15px;
  font-family: "Roboto";
  font-size: large;
  color: #6c757d;
}

::placeholder {
  font-size: large;
  padding-left: 15px;
}

.registrar {
  background-color: #FC749C;
  color: #fff;
  display: inline-block;
  width: 186px;
  height: 50px;
  border: none;
  border-radius: 8px;
  font-family: 'Roboto', sans-serif;
}

.registrar:hover {
  background-color: #FFB3C1;
}

.bannerAgendamento {
  font-size: 40px;
  display: inline-block;
  font-family: "Syne", sans-serif;
  width: 419px;
  height: 109px;
  color: #000;
}

#submit {
  background-color: #1B98E0;
  color: #fff;
  font-family: 'Roboto', sans-serif;
}

#submit:hover {
  background-color: #13293D;
}

a {
  text-decoration: none;
  color: #FC749C;
}

a:hover {
  color: #fc749d7f;
}

.conteudo {
  flex: 1 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-card {
  border-radius: 8px;
  background-color: #fff;
  width: 70%;
  max-width: 450px;
  height: auto;
  box-shadow: rgba(164, 232, 255, 0.4) 5px 5px;
  padding: 20px;
}

.entre-na-sua {
  color: #4A5568;
  font-size: 18px;
  text-align: center;
  margin-top: 20px;
}

form {
  text-align: center;
  margin: 15px;
}

.login-card-child1 {
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 20px;
}

.login5 {
  font-size: 36px;
  color: #1B98E0;
  margin-bottom: 10px;
}

.login4 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: all 0.75s opacity 500ms;
  visibility: visible;
  opacity: 1;
}

.overlay:target {
  visibility: hidden;
  opacity: 0;
}

.popup {
  margin: 10px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 64%;
  position: relative;
  transition: all 1s ease-in-out;
}

.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
}

.popup .close:hover {
  color: #d80606;
}

.popup .content {
  max-height: 30%;
  overflow: auto;
}

/* Estilo geral da imagem no popup */
.popup-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* Esconde a imagem mobile por padrão */
.mobile-img {
  display: none;
}

/* Quando a tela for menor que 700px, mostra a imagem mobile e esconde a de desktop */
@media screen and (max-width: 700px) {
  .desktop-img {
    display: none;
  }

  .mobile-img {
    display: block;
  }
}