/*Estilo do calendario*/
.conteudo {

  margin-left: auto;
  margin-right: auto;
  width: 500px;
  background-color: #1B98E0;
  border-radius: 10px;
  padding-bottom: 15px;
}

hr {

  background-color: rgb(0, 0, 0);
  color: black;
  width: 90%;
}

h2 {

  text-align: center;
  margin-top: 20px;
  font-size: 32px;
  text-transform: uppercase;
}

td {
  /*cor dos numeros do calendario*/
  color: white;
}

.btn-ant,
.btn-pro {

  position: absolute;
  top: 10%;
  height: 32px;
  line-height: 32px;
  margin-top: -16px;
  background-color: #1B98E0;
  border-radius: 10px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.264);
}

.btn-ant {
  right: 60%;
}

.btn-pro {

  left: 60%;
}

.btn-ant:hover,
.btn-pro:hover {

  background-color: #247BA0;
}

table {

  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  border-collapse: collapse;
}

thead {

  font-weight: 600;
}

td {

  border: 1px solid rgb(255, 255, 255);
  text-align: center;
  height: 61px;
  width: 61px;
}

tbody td {

  cursor: pointer;
}

tbody td:hover {

  background-color: #247BA0;
  color: #1B98E0;
  /*border-radius: 15px;*/

}

tbody .dia-atual {

  border: 2px solid #13293D;
  /*border-radius: 15px;*/
}

.mes-anterior,
.proximo-mes {

  color: #cdb1d2;
}

.mes-anterior:hover,
.proximo-mes:hover {

  background-color: #98a0a063;
  color: rgba(0, 0, 0, 0.471);
}

.dia-selecionado {
  background-color: #13293D;
  color: #ffffff;
}

/*escolher turnos*/
.secao-turno>h3 {
  text-align: center;
  margin-top: 20px;
  font-size: 24px;
}

#turno {
  /*cor do turno manha e noite*/
  background-color: #1B98E0;
  width: 470px;
  padding: 20px;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
}

.turno.selected {
  background-color: #1B98E0;
  border-radius: 5px;
}

#turno>p {
  display: inline;
  font-size: 20px;
  color: white;
}

#manha {
  margin-left: 22%;
  padding: 3px;
}

#noite {
  margin-left: 32%;
  padding: 3px;
}

#turno>p:hover {

  cursor: pointer;
  background-color: #247BA0;
  color: white;
  border-radius: 5px;
}

.horas {
  /*caixa de horario com cada horario*/
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  background-color: #1B98E0;
  width: 470px;
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.horario {
  /*cor de cada horario*/
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  color: #ffffff;
  background-color: #247BA0;
  text-align: center;
  cursor: pointer;
}

.horario.selected {
  background-color: #13293D;
}

article {

  display: inline-block;
  margin-left: 20px;
}

article>div {

  background-color: #FF5F5F;
  color: white;
  width: 40px;
  margin-top: 15px;
  padding: 5px;
  text-align: center;
  border-radius: 10px;
}

article>div:hover {

  cursor: pointer;
  background-color: #ff5f5f7d;
  color: white;
}

/*Estilo das Informações do serviço*/
.informacoes {

  background-color: #FFD2E1;
  width: 470px;
  padding: 20px;
  border-radius: 10px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

#servico,
#preco,
#tempo {

  margin: 0px;
}

#servico {

  display: inline;
}

#preco {

  display: inline;
  position: relative;
  left: 240px;

}

#tempo {

  font-size: 15px;
  color: rgba(0, 0, 0, 0.503);
  position: relative;
  left: 380px;
}

/*Section para selecionar funcionario*/
#preferencia {
  border-radius: 5px;
}

/*Botão de reservar*/
#submit {
  background-color: #1B98E0;
  color: #ffffff;
  width: 300px;
  padding: 15px;
  border-radius: 10px;
  display: block;
  margin: auto;
  font-size: 20px;
  border: 0px;
}

#submit:hover {
  background-color: #247BA0;
}
